<main class="menu-content">
    <%- include('../layout/msg'); -%>
        <img class="logo7" src="/img/logo.png" alt="">
        <ul>

            <li><a href="/aventura-pet/add-pet">Adicionar um pet</a></li>
            <li><a href="/aventura-pet/my-pets">Meus Pets</a></li>
            <li><a href="/aventura-pet/distance">Distancia</a></li>
            <li><a href="/aventura-pet/view-pets">Procurar um pet</a></li>
            <li><a href="/aventura-pet/favorite">Favoritos</a></li>
            <li><a href="/aventura-pet/configure">Configuração</a></li>
            <li><a href="/">Voltar para página inicial</a></li>
            <li><a href="/login/logout">Sair</a></li>
        </ul>
</main>
